{% extends 'base.html' %}

{% block contenido_cuerpo %}
    <p>
        <h1>Lista de los Productos
            {% if user.is_staff %}

            <a href="{% url 'productos:path_crear_productos' %}">CREAR PRODUCTOS</a>

            {% endif %}
        </h1>
        <!--ver porque muestra el codigo-->
         <div>Rubros: 
             {% for r in rubros %}
                <a href="{% url 'productos:path_filtrar_rubro' r.pk %}">{{r.nombre}}</a> <!--Con esto llamo a los rubros, en listar productos-->
             {% endfor %}
         </div>
         <div>Orden:
            <a href="{% url 'productos:path_listar_productos' %}?orden=dsc">Mayor Precio</a> <!--orden descendente-->
            <a href="{% url 'productos:path_listar_productos' %}?orden=asc">Menor Precio</a> <!--orden ascendente-->
         </div>
         <!--{{productos}}La variable Productos de Django-->
         <div class="lista_productos">
            {% for p in productos %}
            <ul class="ul_productos">
                <li><img src="{{p.imagen.url}}" width="300" alt="imagen del producto"></li>
                <li>{{p.nombre}}</li>
                <li>{{p.precio}}</li>
                <li><a href="{% url 'productos:path_detalle_productos' p.pk %}">Ver Detalle</a></li>
                <li><a href="{% url 'productos:path_modificar_productos' p.pk %}">Modificar</a></li>
                <li><a href="{% url 'productos:path_borrar_productos' p.pk %}">Eliminar</a></li>
            </ul>
            {% endfor %}
         </div>
    </p>

{% endblock contenido_cuerpo %}