{% extends 'base.html' %}

{% block contenido_cuerpo %}
    <p>
        <h1>Lista de los Productos
            <a href="{% url 'productos:path_crear_productos' %}">CREAR PRODUCTOS</a>
        </h1>

         <!--{{productos}}La variable Productos de Django-->
         <div class="lista_productos">
            {% for p in productos %}
            <ul class="ul_productos">
                <li><img src="{{p.imagen.url}}" widt="300" alt="imagen del producto"></li>
                <li>{{p.nombre}}</li>
                <li>{{p.precio}}</li>
                <li><a href="{% url 'productos:path_detalle_productos' p.pk %}">Ver Detalle</a></li>
                <li><a href="{% url 'productos:path_modificar_productos' p.pk %}">Modificar</a></li>
                <li><a href="{% url 'productos:path_borrar_productos' p.pk %}">Eliminar</a></li>
            </ul>
            {% endfor %}
         </div>
    </p>

{% endblock contenido_cuerpo %}